.cart {
    background: #b9b8b8;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 300px;
}
label img {
    width: 20px;
    height: 20px;
}

.cart img {
    aspect-ratio: 16/9;
    width: 100%;
}

.cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
}

.cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cart footer button {
    padding: 8px;
}

.cartbutton {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
}

.cartbutton:hover {
    scale: 1.1;
}

.cartbutton~input:checked~.cart {
    height: 98%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    
}

.product {
    display: flex;
    border: #444 1px solid;
    justify-content: center;
    
    flex-direction: column;
    
    padding: 0;
    
}
.product img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 999999px;
    padding-left: 3px;
    
}
.tittle {
    font-size:1.1rem;
    color: white;
    text-align: center;
}
footer{
    text-align: center;
    background-color: red;
    height: 100px;
    display: flex;
    flex-direction: column;
}